* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;

}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.carousel-item {
    height: 100%;
}

#root,
html,
body {
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
}

#root {
    display: flex;
    min-height: 100%;
    width: 100%;
    height: 700px;
}

body {
    margin: 0;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
a:visited{
 color: black;
}
.left,
.carousel {
    height: 100%;
    min-height: 100%;
}

.carousel-inner {
    height: 100% !important;
}

.login_carousel {
    position: relative !important;
    height: 100%;
    background-color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.worong_or_true {
    font-size: 13px !important;
    color: #e21a37;
    display: none;

}

img.d-block {
    z-index: 1;
    margin-top: -227px;
    box-shadow: 50px 50px 5px rgba(0, 0, 0, 0.5);
}

.floatImge_top {
    position: absolute;
    left: 0;
    top: 0;
}

.floatImge_left {
    position: relative;
    left: -148px;
    z-index: 0;
    top: -124px;
}

.floatImge_right {
    position: absolute;
    right: 0;
    top: 0;
}

.floatImge_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}

.login_carousel .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
    margin-top: -10px;
}
.text h3 {
    font-size: 24px;
}

.login_carousel p {
    width: 397px;
    color: white;
    font-size: 14px;
}

.carousel {
    width: 640px !important;
    /* height: 100% !important; */
}

.carousel-indicators {
    bottom: 163px;
    left: -17px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.16);
    opacity: 0.9;

}

.carousel-indicators [aria-current] {
    background-color: #4472c4 !important
}

/* 右边 */
.right {
    /* margin: 100px 150px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column; */
    /* width: 300px; */
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 84px 170px 32px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    /* width: 200px; */
}

/* 右边 */

.logo img {
    margin-right: 8px;
}

.logo p {
    /* line-height: 50px; */
    margin-top: 10px;
}
.fogot {
    margin-top: 68px;
    width: 372px;
    display: flex;
    flex:1;
    flex-direction: column;
}
.forgot-a{
    align-self: flex-start;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.fogot_prompt{
    margin-top: 16px;
    margin-bottom: 22px;
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
}
.email{
    display: flex;
    flex-direction: column;
}
.lit_email{
    font-size: 12px;
    line-height: 13px;
    font-weight: 500;
    color: #666666;
}
.input_email{
    padding: 6px 0;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cccccc;
    /* overflow: visible; */
    margin-bottom: 10px;
}
.forgot_reset{
    font-size: 12px;
    font-weight: bold;
    /* display: inline-flex; */
    justify-content: center;
    align-items: center;
    height: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-color: #4472c4;
    cursor: default;
    opacity: 0.7;
    margin-top: 10px;
    width: 376px;
}
.right_footer {
    /* margin-top: auto; */
    font-size: 8px !important;
    font-weight: 500;
    color: #333333;
    /* flex: 1; */
    margin: auto auto  0 auto;

}